@layout('layouts.main')

@section('title')
Cttu-Acidentes - Front Basico + API
@endsection

@section('content')
  <h1>Todos os Acidentes</h1>

  <div class="acidentes-container">
    <div class="blank"></div>
    <div class="acidente-info">
      <h3>Status</h3>
      <p>Local</p>
    </div>
  </div>
@endsection
