@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

/***** Tabela de Cores
azul: rgba(7, 106, 198, 1);
verde: rgba(0, 167, 82, 1);
amarelo: rgba(253, 223, 25, 1);
*/

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background-color: white;
}

h1 {
  margin-top: 1%;
  padding-left: 10px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  text-align: left;
  font-weight: bold;
  margin-bottom: 1%;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: black;
  text-align: justify;
  font-weight: normal;
  padding-left: 20px;
}
* {
  margin: 0;
  padding: 0;
}

.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5050;
}

